* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E9C1EA;
    font-family: "Prociono" , sans-serif;
}

/* HEADER: ESTILOS PARA EL CONTENEDOR DE IMAGEN Y TEXTO EMPLEADO*/
.header__figureEmpleadoEdit{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    width:180px;
    height: 100px;
    display:inline-block;  
}

/*TAMAÑO DE LA IMAGEN*/
.header__imgEmpleadoEdit{ 
    width: 68px;
    height: 66px;
}

/*ESTILOS PARA EL TEXTO EMPLEADO*/
.header__texto-empleadoEdit{ 
   float:right;
   padding-top: 30px;
   font-weight: bold;
}

/*ESTILOS PARA EL BOTON SALIR DEL HEADER*/
.header__botonsalirEmpleadoEdit{
    height: 27px;
    width: 100px;
    border: 3px solid #F13CF6;
    border-radius: 10px;
    background: white;
    position:relative;
    left:70%;
    top: 50%;
}


/* MAIN: ESTILOS DE CONTENEDOR PRINCIPAL */
main{
    width: 100%;
    height: 750px;
    display: flex;
    gap:8%;
    margin-top: 40px;
}

/* ESTILOS DE FORM 1: AGREGAR EMPLEADO */
.seccionTodo__verE{
    display:inline-block;
    height: 430px; 
    width: 240px; 
    margin-left: 3%;
}
/* imagen de ver empleado, el ojo*/
.verE__imgEdit{
    width: 65px;
    height: 60px;
    margin-left: 50px;
}

/* estilos de los label de ver empleado*/
.verE__labelEdit{
    display:inline-block;
    margin-bottom: 9px;
}

/* estilos de los input de ver empleado*/
.verE__inputEdit{
    border: 3px solid #A2F4CD;
    border-radius: 10px;
    vertical-align:top; 
    height: 26px;
}

/* estilos del input que va a mostrar toda la información del empleado*/
.verE__inputInfo{
    height: 117px;/*ALTO*/
    width: 211px;/*ANCHO*/
    border: 3px solid #A2F4CD;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: -5px;
}

/* ESTILOS DE FORM 2: AGREGAR EMPLEADO */
.seccionTodo__agregarE{
    display:inline-block;
    height: 430px; 
    width: 240px; 
}
/* imagen de agregar empleado*/
.agregarE__imgEdit{
    width: 95px;
    height: 60px;
    margin-left: 50px;
}

/* estilos de los label de agregar empleado*/
.agregarE__labelEdit{
    display:inline-block;
    margin-bottom: 9px;
}

/* estilos de los input de agregar empleado*/
.agregarE__inputEdit{
    border: 3px solid #A2F4CD;
    border-radius: 10px;
    vertical-align:top; 
    height: 26px;
}
/*imagen de guargar info empleado*/
.agregarE__imgSave{
    width: 65px;
    height: 60px;
    margin-left: 48px;
}

/* ESTILOS DE FORM 3: EDITAR EMPLEADO */
.seccionTodo__editarE{
    display:inline-block;
    height: 460px; 
    width: 240px; 
}
/* imagen de EDITAR empleado, el lápiz*/
.editarE__imgEdit{
    width: 70px;
    height: 60px;
    margin-left: 50px;
}

/* estilos de los label de editar empleado*/
.editarE__labelEdit{
    display:inline-block;
    margin-bottom: 9px;
}

/* estilos de los input de editar empleado*/
.editarE__inputEdit{
    border: 3px solid #A2F4CD;
    border-radius: 10px;
    vertical-align:top; 
    height: 26px;
}
/* estilos del campo de decisión si no para guardar la edición de empleado*/
.sec-guardarEdicion{
    width: 208px;
    height: 110px;
    margin-top: 15px;
    margin-left: 1px;
}

.guardarEdicion__cont-principal{
    width: 208px;
    height: 90px;
    border-radius: 20px;
    border: 5px solid #A2F4CD;
    background: white;
}

.guardarEdicion__cont-principal h5{
    font-family: inherit;
    text-align: center;
    margin-top: 10px;
}

.guardarEdicion__cont-principal div{
    border: 5px solid black;
    width: 40px;
    float: left;
    text-align: center;
    position: relative;
    left: 60px;
    margin-top:10px;
}

.editarE__imgSave{
    width: 65px;
    height: 60px;
    margin-left: 75px;
}

/* ESTILOS DE FORM 4: ELIMINAR EMPLEADO */
.seccionTodo__deleteE{
    display:inline-block;
    height: 460px; 
    width: 240px; 
}
/* imagen de eliminar empleado, basura*/
.deleteE__imgEdit{
    width: 70px;
    height: 60px;
    margin-left: 50px;
}

/* estilos de los label de eliminar empleado*/
.deleteE__labelEdit{
    display:inline-block;
    margin-bottom: 9px;
}

/* estilos de los input de eliminar empleado*/
.deleteE__inputEdit{
    border: 3px solid #A2F4CD;
    border-radius: 10px;
    vertical-align:top; 
    height: 26px;
}
/* estilos del campo de decisión si no para guardar eliminar de empleado*/
.sec-guardarDelete{
    width: 208px;
    height: 110px;
    margin-top: 15px;
    margin-left: 1px;
}

.guardarDelete__cont-principal{
    width: 208px;
    height: 100px;
    border-radius: 20px;
    border: 5px solid #A2F4CD;
    background: white;
}

.guardarDelete__cont-principal h5{
    font-family: inherit;
    text-align: center;
    margin-top: 10px;
}

.guardarDelete__cont-principal div{
    border: 5px solid black;
    width: 40px;
    float: left;
    text-align: center;
    position: relative;
    left: 60px;
    margin-top:10px;
}

.deleteE__imgSave{
    width: 65px;
    height: 60px;
    margin-left: 75px;
}




